<h1><%= @visitor.name %>'s Page</h1>

     <%= form_for @visitor do |f| %>
      name:<%= f.text_field :name %>
      <%= f.submit %>
    <% end %>
<br>
  <%= button_to "Delete Visitor", visitor_path, method: :delete %>
  <%= button_to "Back to Visitor's Page", visitors_path, method: :get%>
