<h1><%=@animal.name%> the <%=@animal.species%>'s Friends</h1>

  <% @animal.visitors.each do |visitor| %>
  <ul><%= visitor.name %></ul>
  <% end %>

  <%= button_to "New Forest Visit", new_forest_path(@forest), method: :get%>
  <%= button_to "Back to Animals Index", animals_path, method: :get%>
