<h1>Meditation Visits in Forests</h1>

  <% @forests.each do |f| %>
  <ul><%=  f.visitor.name %> meditates with
  <%= f.animal.name%> who is a
  <%= f.animal.species %>
  in <%= f.forest_name %><br></ul>
  <% end %>
<br>
<%= button_to "New Forest Visit", new_forest_path, method: :get %>
<%= button_to "Visitors Index", visitors_path, method: :get%>
<%= button_to "Animals Index", animals_path, method: :get%>
