<h1>Meditation Encounters in Forests</h1>

  <% @forests.each do |f| %>
  <ul><%=  f.visitor.name %> meditates with
  <%= f.animal.name%> who is a
  <%= f.animal.species %>
  in <%= f.forest_name %><br></ul>
  <% end %>
<br>
<%= button_to "New Forest visit", new_forest_path, method: :get %>
<%= button_to "Visitor's Page", visitors_path, method: :get%>
<%= button_to "Animals's Page", animals_path, method: :get%>
