<h1>All your meditation encounters</h1>

  <% @forests.each do |forest| %>
  <%=  forest.visitor.name %> meets with
  <%= forest.animal.name%> who is a
  <%= forest.animal.species %>
  in <%= forest.forest %><br>

  <% end %>
<br>
<%= button_to "New Forest visit", new_forest_path, method: :get %>
<%= button_to "New Visitor", new_visitor_path, method: :get%>
<%= button_to "Visitor's Page", visitors_path, method: :get%>
