<h1>Create a Forest Visit</h1>

<%= form_for @forest do |t| %>
<%= t.label :visitor_id%>
<%= t.collection_select :visitor_id, Visitor.all, :id, :name %>
<%= t.label :animal_id%>
<%= t.collection_select :animal_id, Animal.all, :id, :animal_stuff %>
<%= t.text_field :forest, :placeholder => 'Create a new forest!'%>
<%= t.submit text="Create New Visit"%>
<% end %>
